/* esto va siempre en todas los ccs al principio */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /**para que no se dañen medidas con border o pading */
}

//! VARIABLES

$color-principal:#fff;
$color-secundario:#ee2b79;
$color-terciario:#231f20;
$color-azul: #201c59;

.navbar-color{
    background-color: $color-terciario;
}
/* tamaño de la imagen */
.navbar-brand img{
    height: 50%;
    width: 50%;
}
/* color del primer boton */
.navbar-nav .nav-link.active{
    color: $color-principal;
}
.navbar-nav:hover .nav-link.active:hover{
    color: $color-secundario;
}
/* color del segundo boton */
.nav-link{
    color: $color-principal;
}

.nav-link:hover{
    color: $color-secundario;
}

.loguito img{
    height: 50px;
    width: 50px;
    margin-left: 60px;
}



